---
layout: base.njk
title: Who We Serve
---

<section class="intro secondaryIntro">
	<div class="wrapper">
		<h2>Who We Serve</h2>
		<p>❤️ The communities we prioritize are working to build a better future. And we're helping them succeed. </p>
	</div>
</section>

<div class="statementContainer">
	<div class="wrapper">
		<div class="statement description">
			<q>I train journalists, and <span class="highlight">it's not always safe for them</span> in Mexico, so we need easy-to-use, private-by-default software. Anything too complex is a risk.</q>
			<p class="meta">&mdash; Mexico City, Mexico</p>
		</div>
	</div>
</div>

<section id="users" class="cardSection">
	<div class="wrapper">
		<h3>Areas Of Focus</h3>
		<div class="groupRow card">
			<div class="description">
				<img class="avatar" src="/images/users/u1.png" alt="Unless the image is decorative, add alt text.">
				<h4>Press Freedom</h4>
				<p>Journalism and press rights are under attack every day. And the realities of the threats journalists face are severe.</p>
				<p>Whether communicating with sources, researching sensitive topics, or securing data, usable tools are essential to ensuring journalists can perform their jobs.</p>
			</div>
			<div class="description">
				<img class="avatar" src="/images/users/u2.png" alt="Unless the image is decorative, add alt text.">
				<h4>Activism</h4>
				<p>People worldwide are fighting for change - racial justice, climate change, women's rights, religious freedom activists, and more.</p>
				<p>Being able to communicate and collaborate freely is critical to their safety.</p>
			</div>
		</div>
		<div class="groupRow card">
			<div class="description">
				<img class="avatar" src="/images/users/u3.png" alt="Unless the image is decorative, add alt text.">
				<h4>The LGBTQ+ Community</h4>
				<p>Every day we see headlines about people in positions of authority worldwide targeting the LGBTQ+ community.</p>
				<p>We assert that everyone deserves the rights to privacy, and physical and digital autonomy.</p>
			</div>
			<div class="description">
				<img class="avatar" src="/images/users/u4.png" alt="Unless the image is decorative, add alt text.">
				<h4>Accessibility Tech</h4>
				<p>If software isn't accessible, it isn't ethical. Users of all abilities need products that are easy to use.</p>
				<p>We're committed to delivering accessible software and consider it as non-negotiable.</p>
			</div>
		</div>
	</div>
</section>

<section class="featureSection">
	<div class="wrapper">
		<div class="group featureGroup">
			<div class="description">
				<div class="icon donor"></div>
				<h3>Support Our Work</h3>
				<p>We build free, independent open-source software and help non-profits do the same. Please support our work by becoming a member!</p>
				<a role="button" class="btn btnLrg" href="https://opencollective.com/scidsg#category-CONTRIBUTE" target="_blank" rel="noopener noreferrer">Donate</a>
			</div>
		</div>
	</div>
</section>
