<h1>Header</h1>
<p>There are two types of headers: <strong>app headers</strong>, and <strong>base headers</strong>.</p>
<p>Adding <code>.appHeader</code> to the <code>&lt;header&gt;</code> tag so that it looks like <code>&lt;header class=&quot;appHeader&quot;&gt;</code> makes it 100% of the viewport's width all of the time. Removing the class will give the header a max-width of 1280px, more suitable for a website experience.</p>
<h2>Documentation and Resources</h2>
<p>https://www.nngroup.com/articles/sticky-headers/</p>
