<!doctype html>

<!-- Hey there! Thanks for taking a closer look at the code 😎
This project is a work IN-PROGRESS! If you'd like to help make
it better  - i.e. more accessible, align closer with
W3C/WHATWG Standards, etc - please consider contributing 🙏 -->

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Glenn Sorrentino">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta http-equiv="onion-location" content="http://egonv4vxnya3qlycvsaxfr2vostxmwrq6omjzukzik6vvbicie6pdwyd.onion/" /> --> <!-- Use the meta tag for your onion address if your hosting provider restricts changing your server's content security headers. -->
	<meta name="description" content="Science & Design builds public interest, free and open-source software, and helps other non-profits do the same. Let's work together!"> <!-- Keep the description to around 20 words or 150 characters so it displays fully on Google search results. -->
	<meta name="apple-mobile-web-app-title" content="Science & Design">
	<meta name="application-name" content="Science & Design">
	<meta name="theme-color" content="#6421A6">

	<title>
		{% if title %}
			{{ title }} - Science & Design
		{% else %}
			Science & Design - A non-profit design and software development organization
		{% endif %}
	</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">
	<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">

	<link rel="stylesheet" href="/design-system/css/style.css">
	<link rel="stylesheet" href="/css/overrides.css">

	<script src="/design-system/js/jquery-min.js"></script>
	<script src="/design-system/js/design-system.js"></script>
</head>

<body>
	{% include "header.njk" %}
	<main id="content">
		{{ content | safe }}
  </main>
	{% include "footer.njk" %}
</body>

</html>