<footer>
  <div class="wrapper">
    <p>&copy; <a property="dct:title" href="https://scidsg.org" target="_blank" rel="cc:attributionURL noopener noreferrer">Science &amp; Design</a></p>
    <p><a href="https://github.com/scidsg/scidsg-website" target="_blank" rel="noopener noreferrer">Contribute on Github</a>. Built with ❤️ using the <a href="https://github.com/glenn-sorrentino/design-system" target="_blank" rel="noopener noreferrer">Simple Design System</a>.</p>
  </div>
</footer>