<header>
  <div class="wrapper">
    <div class="logo">
      <div class="logoMark"></div>
      <h1><a href="/index.html">Science <span class="brandMark">&amp;</span> Design</a></h1>
    </div>
    {% include "nav.njk" %}
  </div>
</header>